body {
    background-color: #111111; /* Cor de fundo */
    font-family: Baskerville, Times New Roman;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #5b04e7;
}

p {
    color: #3be706;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}